<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter_Demo_Sorting_Type1</title>
    <link rel="stylesheet" href="CSS/tab.css">
    <script src="Scripts/angular.js"></script>
    <script>
        var app=angular.module('DemoApp', []);
        app.controller('HomeController', function ($scope) {
            $scope.Products=[{Id:1, Name: 'Samsung TV', Price:45000, Mfd: new Date('February 12, 2015')},
                {Id:2, Name: 'Mobile', Price:12000, Mfd: new Date('2012/05/12')},
                {Id:3, Name: 'Laptop', Price:60000, Mfd: new Date('Mar 25, 2013')},
                {Id:4, Name: 'Shoe', Price:4500, Mfd: new Date('2018/03/20')},
                {Id:5, Name: 'Boot', Price:6000, Mfd: new Date('2018/04/25')}];
            $scope.sortCol="Id";
        });
    </script>
</head>
<body ng-app="DemoApp" ng-controller="HomeController">
<br><br><br><br>
Order By : <select ng-model="sortCol">
                <option value="Id">Id ASC</option>
                <option value="-Id">Id DESC</option>
                <option value="-Name">Name DESC</option>
                <option value="Price">Price ASC</option>
                <option value="-Price">Price DESC</option>
                <option value="Mfd">Mfd ASC</option>
            </select>
<br><br>
<table width="500" border="1" align="center">
    <th>Product ID</th>
    <th>Product Name</th>
    <th>Product Price</th>
    <th>Product Manufactured</th>
    <tr ng-repeat="item in Products | orderBy:sortCol">
        <td>{{item.Id}}</td>
        <td>{{item.Name | uppercase}}</td>
        <td>{{item.Price | currency:'&#8377;':2}}</td>
        <td>{{item.Mfd | date:'dd/MM/yyyy'}}</td>
    </tr>
</table><br>
</body>
</html>