<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-Class</title>
    <script src="Scripts/angular.js"></script>
    <style>
        .backstyle{
            background-color: yellow;
        }
        .textstyle{
            color: red;
            text-align: center;
        }
        .borderstyle{
            border-style: dashed;
        }
        .applyallstyle{
            background-color: yellow;
            color: red;
            text-align: center;
            border-style: dashed;
        }
    </style>
</head>
<body ng-app>
<fieldset>
    <legend>Apply Styles</legend>
    <input type="checkbox" ng-model="applyalleffect">Apply All
    <ul>
        <li><input type="checkbox" ng-model="backeffect" ng-checked="applyalleffect">Back Style</li>
        <li><input type="checkbox" ng-model="texteffect" ng-checked="applyalleffect">Text Style</li>
        <li><input type="checkbox" ng-model="bordereffect" ng-checked="applyalleffect">Border Style</li>
    </ul>
</fieldset>
<br>
<h2 ng-class="{'backstyle':backeffect, 'textstyle':texteffect, 'borderstyle':bordereffect, 'applyallstyle':applyalleffect}">Welcome To Angular JS</h2>
</body>
</html>