<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-include</title>
    <script src="Scripts/angular.js"></script>
    <script>
        var app=angular.module('DemoApp', []);
        app.controller('HomeController', function ($scope) {
                $scope.view='login.html';
                $scope.Login = function () {
                    $scope.view='login.html';
                };
                $scope.Register=function () {
                    $scope.view='register.html';
                }
        })
    </script>
</head>
<body ng-app="DemoApp", ng-controller="HomeController">
    <div align="center">
        <a href="#" ng-click="Login()">Login</a>
        <span>|</span>
        <a href="#" ng-click="Register()">Register</a>
    </div>
    <div ng-include="view"></div>
</body>
</html>