<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-minlength-maxlength</title>
    <script src="Scripts/angular.js"></script>
</head>
<body ng-app>
<form name="frmHome">
    <fieldset>
        <legend>User Detail</legend>
        <dl>
            <dt>User Name</dt>
            <dd><input type="text" name="txtUname" ng-model="txtUname" ng-required="true" ng-minlength="4" ng-maxlength="15"></dd>
        </dl>
        <button>Submit</button>
        <br><br>
        <div>
            <span ng-if="frmHome.txtUname.$error.required">UserName Required</span>
            <span ng-if="frmHome.txtUname.$error.minlength">UserName too short..min 4 chars</span>
            <span ng-if="frmHome.txtUname.$error.maxlength">UserName too long..max 15 chars</span>
        </div>
    </fieldset>
</form>
</body>
</html>