<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-Style</title>
    <script src="Scripts/angular.js"></script>
    <script>
        var app=angular.module('DemoApp',[]);
        app.controller('HomeController', function ($scope) {
            $scope.obj={"color":'yellow'};
            $scope.lstbgcolors="";
            $scope.align="";
            $scope.ApplyEffect= function () {
                $scope.obj={"background-color":$scope.lstbgcolors,
                                "color":'yellow',
                                "text-align":$scope.align};
            };
        });
    </script>
</head>
<body ng-app="DemoApp" ng-controller="HomeController">
        <fieldset>
            <legend>Select Effects</legend>
            Background Color:
            <select ng-model="lstbgcolors">
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
            </select>
            <br>
            <input type="radio" name="align" ng-model="align" value="left">Left
            <input type="radio" name="align" ng-model="align" value="center">Center
            <input type="radio" name="align" ng-model="align" value="right">Right
            <br>
            <button ng-click="ApplyEffect()">Apply Effect</button>
        </fieldset>
        <h2 ng-style="obj">Welcome To Angular JS</h2>
</body>
</html>